<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>612644683442-ndcio5nr2uq8u8cqu6hokbo675d4ngvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612644683442-ndcio5nr2uq8u8cqu6hokbo675d4ngvs</string>
	<key>API_KEY</key>
	<string>AIzaSyAyETAC6TawgcA3Pr23eNyY0q5d6V6Hb0c</string>
	<key>GCM_SENDER_ID</key>
	<string>612644683442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreim.Swollmeights</string>
	<key>PROJECT_ID</key>
	<string>swollmeights</string>
	<key>STORAGE_BUCKET</key>
	<string>swollmeights.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612644683442:ios:901eb1c30aed472b</string>
	<key>DATABASE_URL</key>
	<string>https://swollmeights.firebaseio.com</string>
</dict>
</plist>